---
import Base from "../layouts/Base.astro"

const projects = {
    "websites": [
        {
            "name": "meizuflux.com",
            "url": "https://meizuflux.com",
            "repo": "https://github.com/meizuflux/portfolio",
            "stack": [["Astro", "https://astro.build"], ["SakuraCSS", "https://github.com/oxalorg/sakura"], ["GitHub Pages", "https://pages.github.com/"]],
            "description": "This website."
        },
        {
            "name": "mzf.one",
            "url": null,
            "repo": "https://github.com/meizuflux/private-destination",
            "stack": [["aiohttp", "https://docs.aiohttp.org/en/stable/web.html"], ["Bulma", "https://bulma.io"], ["PostgreSQL", "https://www.postgresql.org"], ["Jinja", "https://jinja.palletsprojects.com"]],
            "description": "A generic platform I worked on as a useful helper on the web, it contained lots of different parts, like encrypted notes, a url shortner, and an invite system."
        }
    ],
    "discord bots": [
        {
            "name": "meizuBot",
            "url": null,
            "repo": "https://github.com/meizuBot/bot",
            "stack": [
                ["discord.py", "https://discordpy.readthedocs.io/en/stable/"],
                ["PostgreSQL", "https://www.postgresql.org"]
            ],
            "description": "I created a lot of discord bots during COVID, and this was my last before the Discord Slash Commands change that caused discord.py to cease development temporarily. It's a large bot with many features, but it was never really intended to be used by a bunch of people, I just had my fun creating it and adding whatever features I felt like."
        },
        {
            "name": "Coding Assistant",
            "url": null,
            "repo": "https://github.com/meizuflux/codingassistant",
            "stack": [
                ["discord.py", "https://discordpy.readthedocs.io/en/stable/"]
            ],
            "description": "Simple discord bot that is intended for use by developers to \"Read the docs\", providing a way for developers to access the documentation of popular programming languages and libraries from Discord."
        },
        
    ],
    "packages": [
        {
            "name": "cion",
            "url": "https://pypi.org/project/cion",
            "repo": "https://github.com/meizuflux/cion",
            "stack": [["Python", "https://python.org"]],
            "description": "A minimal validation library that I made for eventual use in <a href='https://mzf.one'>mzf.one</a> because other data validation libraries weren't as ergonomic as I wanted them to be. 95% feature complete for my usecase."
        }
    ],
    "others": [
        {
            "name": "FastAPI Example",
            "url": null,
            "repo": "https://github.com/meizuflux/simple-fastapi",
            "stack": [["FastAPI", "https://fastapi.tiangolo.com"]],
            "description": "Figured I could try my hand at working out a simple example of what FastAPI can do. Nowadays if I'm using a python web framework it's aiohttp."
        },
        {
            "name": "stateless-discord-bot",
            "url": null,
            "repo": "https://github.com/meizuflux/stateless-discord-bot",
            "stack": [
                ["Rust", "https://rust-lang.org"],
                ["Typescript", "https://www.typescriptlang.org/"],
                ["Twilight", "https://twilight.rs/"],
                ["Cloudflare Workers", "https://workers.cloudflare.com/"]
            ],
            "description": "Proof of concept of a serverless discord bot with no state running on cloudflare workers, entirely for free. API Schema is implemented with a CLI in TS, then the actual Worker is written in Rust with twilight."
        }
    ]
}
---
<Base title="projects" description="Some projects and things that I've made">
    <h1>projects</h1>

    <p>Like every programmer, I have various unfinished projects (viewable on my GitHub), but these are the ones that were developed into a workable, viable state.</p>

    <!-- I don't remember how this works so lets hope I never have or want to change it -->
    {Object.keys(projects).map(key => (
        <h2>{key}</h2>
        <ul>
            {projects[key].map(p => (
                <li>
                    {p.url ? <a href={p.url} target="_blank">{p.name}</a> : p.name} 
                    &#123;{p.repo ? <a href={p.repo} target="_blank">repo</a> : "private"}&#125; 
                    <ul>
                        <li>Built with {p.stack.map(s => <a href={s[1]} target="_blank">{s[0]}</a>).reduce((acc, x) => acc === null ? <>{x}</> : <>{acc}, {x}</>, null)}</li>
                        <li><div set:html={p.description}></div></li>
                    </ul>
                </li>
            ))}
        </ul>
    ))}
</Base>