---
import Base from "../layouts/Base.astro"

const projects = {
    "websites": [
        {
            "name": "meizuflux.com",
            "url": "https://meizuflux.com",
            "repo": "https://github.com/meizuflux/portfolio",
            "stack": [["Astro", "https://astro.build"], ["SakuraCSS", "https://github.com/oxalorg/sakura"], ["Cloudflare Pages", "https://pages.cloudflare.com"]],
            "description": "This website."
        },
        {
            "name": "mzf.one",
            "url": "https://mzf.one",
            "repo": "https://github.com/meizuflux/private-destination",
            "stack": [["aiohttp", "https://docs.aiohttp.org/en/stable/web.html"], ["Bulma", "https://bulma.io"], ["PostgreSQL", "https://www.postgresql.org"], ["Jinja", "https://jinja.palletsprojects.com"]],
            "description": "Domain goes to some chinese thing, I forgot to renew the domain, and I also lost motivation to update it out of frustration with web development."
        }
    ],
    "packages": [
        {
            "name": "cion",
            "url": "https://pypi.org/project/cion",
            "repo": "https://github.com/meizuflux/cion",
            "stack": [["Python", "https://python.org"]],
            "description": "A minimal validation library that I made for use in <a href='https://mzf.one'>mzf.one</a> because other data validation libraries weren't as ergonomic as I wanted them to be."
        }
    ],
    "others": [
        {
            "name": "FastAPI Example",
            "url": null,
            "repo": "https://github.com/meizuflux/simple-fastapi",
            "stack": [["FastAPI", "https://fastapi.tiangolo.com"]],
            "description": "Don't use FastAPI the documentation sucks, try something like aiohttp. I made this a while back to showcase the special features it offers."
        }
    ]
}
---
<Base title="Projects" description="Some projects and things that I've made">
    <h1 style="text-align: center">Projects</h1>
    <p>Stuff I've made</p>

    {Object.keys(projects).map(key => (
        <h2>{key}</h2>
        <ul>
            {projects[key].map(p => (
                <li>
                    {p.url ? <a href={p.url} target="_blank">{p.name}</a> : p.name} [{p.repo ? <a href={p.repo} target="_blank">repo</a> : "private"}] 
                    ({p.stack.map(s => <a href={s[1]} target="_blank">{s[0]}</a>).reduce((acc, x) => acc === null ? x : <>{acc}, {x}</>, null)})
                    <br /><div set:html={p.description}></div>
                </li>
            ))}
        </ul>
    ))}
</Base>