---
import BaseLayout from "./Base.astro";
import { getReadingTime } from "../lib";

const { content, rawContent } = Astro.props;
---
<BaseLayout title={content.title} description={content.description}>
    <div style="text-align: center;">
        <h1 style="margin-bottom: 0.5rem">{content.title}</h1>
        <p style="margin-bottom: 0">{content.description}</p>
    </div>
    
    <div class="h-stack">
        <p>Posted {content.created}</p>
        <p>{getReadingTime(rawContent())} min read</p>
    </div>

    <article>
        <slot />
    </article>
</BaseLayout>

